$form-label-color: $dark-primary-text-color !default;
$form-clear-icon-color: $winset-light-blue !default;
$form-clear-icon-pressing-color: $winset-bright-blue !default;
$form-clear-icon-border-color: $winset-light-blue !default;